<% var posts = public.posts._data; -%>

<section>
    <ul>
        <% for (var post in posts) { -%>
            <li>
                <h3>
                    <a href="posts/<%= post %>"><%= posts[post].artist %> - <em>"<%= posts[post].song %>"</em> (from <em>"<%= posts[post].album %>"</em>)</a>
                </h3>

                <p>
                    <%= posts[post].author %> on <%= posts[post].timestamp %>
                </p>

                <ul class="inline-list">
                    <% for (var tag in posts[post].tags) { -%>
                        <li><%= posts[post].tags[tag] %></li>
                    <% } -%>
                </ul>

                <ul class="inline-list">
                    <li><%= posts[post].metadata.vocals.clean %>% clean</li>
                    <li><%= posts[post].metadata.vocals.harsh %>% harsh</li>
                    <li><%= posts[post].metadata.vocals.spoken %>% spoken</li>
                </ul>
            </li>
        <% } -%>
    </ul>
</section>