<% var posts = public.posts._data; -%>

<section>
    <ul>
        <% for (var post in posts) { -%>
            <li class="pad-ends border-bottom-light">
                <h3>
                    <a href="posts/<%= post %>"><%= posts[post].artist %> - <em>"<%= posts[post].song %>"</em> (from <em>"<%= posts[post].album %>"</em>)</a>
                </h3>

                <p>
                    <em>by</em> <%= posts[post].author %> <em>on</em> <%= posts[post].timestamp %>
                </p>

                <ul class="tag-list pad-half-ends">
                    <% for (var i = 0; i < posts[post].tags.length; i++) { %>
                        <li>
                            <span href="#rss" class="icon-alone space-half-right">
                                <% if (i === 0) { %>
                                    <span aria-hidden="true" data-icon="&#xe08e;"></span>

                                    <span class="screen-reader-text">genre</span>
                                <% } else if (i === 1) { %>
                                    <span aria-hidden="true" data-icon="&#xe06b;"></span>

                                    <span class="screen-reader-text">year</span>
                                <% } else if (i === 2) { %>
                                    <span aria-hidden="true" data-icon="&#xe0de;"></span>

                                    <span class="screen-reader-text">country</span>
                                <% } %>
                            </span>

                            <span><%= posts[post].tags[i] %></span>
                        </li>
                    <% } %>
                </ul>

                <ul class="tag-list">
                    <li><%= posts[post].metadata.vocals.clean %>% clean</li>
                    <li><%= posts[post].metadata.vocals.harsh %>% harsh</li>
                    <li><%= posts[post].metadata.vocals.spoken %>% spoken</li>
                </ul>
            </li>
        <% } -%>
    </ul>
</section>